[package]
name = "ubi"
version = "0.0.7"
authors = ["Dave Rolsky <autarch@urth.org>"]
description = "The Universal Binary Installer"
repository = "https://github.com/houseabsolute/ubi"
readme = "README.md"
license = "MIT OR Apache-2.0"
edition = "2018"

[dependencies]
anyhow = "1.0.53"
bzip2 = "0.4.3"
clap = "3.0.14"
fern = { version = "0.6.0", features = ["colored"] }
flate2 = "1.0.22"
log = "0.4.14"
octocrab = "0.15.4"
platforms = "2.0.0"
regex = "1.5.4"
reqwest = "0.11.9"
tar = "0.4.38"
tempfile = "3.3.0"
tokio = { version = "1.16.1", default-features = false, features = ["macros", "rt"] }
xz = "0.1.0"
zip = "0.5.13"
zip-extensions = "0.6.1"
