[package]
name = "ubi"
version = "0.0.29"
authors = ["Dave Rolsky <autarch@urth.org>"]
description = "The Universal Binary Installer"
repository = "https://github.com/houseabsolute/ubi"
readme = "README.md"
license = "MIT OR Apache-2.0"
edition = "2021"

[dependencies]
anyhow = "1.0.79"
binstall-tar = "0.4.39"
bzip2 = "0.4.4"
clap = { version = "4.4.18", features = ["wrap_help"] }
fern = { version = "0.6.2", features = ["colored"] }
flate2 = "1.0.28"
itertools = "0.12.0"
log = "0.4.20"
platforms = "=3.2.0"
regex = "1.10.2"
reqwest = { version = "0.11.23", default-features = false, features = ["gzip", "json", "rustls-tls"] }
result = "1.0.0"
serde = { version = "1.0.195", features = ["derive"] }
strum = { version = "0.25.0", features = ["derive"] }
tempfile = "3.9.0"
thiserror = "1.0.56"
tokio = { version = "1.35.1", default-features = false, features = ["macros", "rt"] }
url = { version = "2.5.0", features = ["serde"] }
xz = "0.1.0"
zip = "0.6.6"

[workspace.metadata.release]
allow-branch = ["master"]

[dev-dependencies]
mockito = "1.2.0"

# workaround for https://github.com/cross-rs/cross/issues/1345
[package.metadata.cross.target.x86_64-unknown-netbsd]
pre-build = [
    "mkdir -p /tmp/netbsd",
    "curl https://cdn.netbsd.org/pub/NetBSD/NetBSD-9.2/amd64/binary/sets/base.tar.xz -O",
    "tar -C /tmp/netbsd -xJf base.tar.xz",
    "cp /tmp/netbsd/usr/lib/libexecinfo.so /usr/local/x86_64-unknown-netbsd/lib",
    "rm base.tar.xz",
    "rm -rf /tmp/netbsd",
]
