[package]
name = "ubi"
version = "0.0.23"
authors = ["Dave Rolsky <autarch@urth.org>"]
description = "The Universal Binary Installer"
repository = "https://github.com/houseabsolute/ubi"
readme = "README.md"
license = "MIT OR Apache-2.0"
edition = "2021"

[dependencies]
anyhow = "1.0.70"
bzip2 = "0.4.4"
clap = "4.2.1"
fern = { version = "0.6.2", features = ["colored"] }
flate2 = "1.0.25"
itertools = "0.10.5"
log = "0.4.17"
openssl = { version = "0.10.50", features = ["vendored"] }
platforms = "3.0.2"
regex = "1.7.3"
reqwest = { version = "0.11.16", default-features = false, features = ["gzip", "json", "default-tls"] }
result = "1.0.0"
serde = { version = "1.0.160", features = ["derive"] }
strum = { version = "0.24.1", features = ["derive"] }
tar = "0.4.38"
tempfile = "3.5.0"
thiserror = "1.0.40"
tokio = { version = "1.27.0", default-features = false, features = ["macros", "rt"] }
url = { version = "2.3.1", features = ["serde"] }
xz = "0.1.0"
zip = "0.6.4"

[workspace.metadata.release]
allow-branch = ["master"]

[dev-dependencies]
mockito = "1.0.2"
