[package]
name = "ubi"
version = "0.1.0"
authors = ["Dave Rolsky <autarch@urth.org>"]
description = "The Universal Binary Installer"
repository = "https://github.com/houseabsolute/ubi"
readme = "README.md"
license = "MIT OR Apache-2.0"
edition = "2021"

[lib]
name = "ubi"
path = "src/ubi.rs"

[[bin]]
name = "ubi"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.86"
binstall-tar = "0.4.42"
bzip2 = "0.4.4"
clap = { version = "4.5.9", features = ["wrap_help"] }
fern = { version = "0.6.2", features = ["colored"] }
flate2 = "1.0.30"
itertools = "0.13.0"
lazy-regex = "3.1.0"
log = "0.4.22"
platforms = "=3.2.0"
regex = "1.10.5"
reqwest = { version = "0.12.5", default-features = false, features = [
    "gzip",
    "json",
    "rustls-tls",
] }
result = "1.0.0"
serde = { version = "1.0.204", features = ["derive"] }
strum = { version = "0.26.3", features = ["derive"] }
tempfile = "3.10.1"
test-case = "3.3.1"
thiserror = "1.0.62"
tokio = { version = "1.38.0", default-features = false, features = ["macros", "rt"] }
url = { version = "2.5.2", features = ["serde"] }
xz = "0.1.0"
# This disables all the features that require C compilation, which greatly
# simplifies cross-platform builds.
zip = { version = "2.1.3", default-features = false, features = [
    "aes-crypto",
    "bzip2",
    "deflate",
    "deflate64",
    "lzma",
    "zstd",
] }

[workspace.metadata.release]
allow-branch = ["master"]

[dev-dependencies]
mockito = "1.4.0"

# workaround for https://github.com/cross-rs/cross/issues/1345
[package.metadata.cross.target.x86_64-unknown-netbsd]
pre-build = [
    "mkdir -p /tmp/netbsd",
    "curl https://cdn.netbsd.org/pub/NetBSD/NetBSD-9.2/amd64/binary/sets/base.tar.xz -O",
    "tar -C /tmp/netbsd -xJf base.tar.xz",
    "cp /tmp/netbsd/usr/lib/libexecinfo.so /usr/local/x86_64-unknown-netbsd/lib",
    "rm base.tar.xz",
    "rm -rf /tmp/netbsd",
]
