[workspace.package]
authors = ["Dave Rolsky <autarch@urth.org>"]
edition = "2021"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/houseabsolute/ubi"
version = "0.6.1"

[workspace]
members = ["ubi", "ubi-cli"]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0.98"
async-trait = "0.1.88"
binstall-tar = "0.4.42"
bzip2 = "0.5.2"
clap = { version = "4.5.38", features = ["wrap_help"] }
document-features = "0.2"
# Used in some test code which can't use test_log.
env_logger = "0.11.8"
fern = { version = "0.7.1", features = ["colored"] }
flate2 = "1.1.1"
itertools = "0.14.0"
lazy-regex = "3.4.1"
log = "0.4.27"
mockito = "1.7.0"
platforms = "3.5.0"
regex = "1.11.1"
reqwest = { version = "0.12.15", default-features = false, features = ["gzip", "json"] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
serial_test = "3.2.0"
strum = { version = "0.27.1", features = ["derive"] }
tempfile = "3.20.0"
test-case = "3.3.1"
test-log = "0.2.17"
thiserror = "2.0.12"
tokio = { version = "1.45.1", default-features = false, features = ["macros", "rt"] }
url = { version = "2.5.4", features = ["serde"] }
which = "7.0.3"
xz2 = "0.1.7"
# The 4.0.0 version is not compatible with xz2, as they have conflicting requirements on lzma-sys.
#
# This set of features disables all the features that require C compilation, which greatly
# simplifies cross-platform builds.
zip = { version = ">= 3.0.0, < 4.0.0", default-features = false, features = [
    "aes-crypto",
    "bzip2",
    "deflate",
    "deflate64",
    "lzma",
    "zstd",
] }
