[package]
name = "ubi"
version = "0.0.16"
authors = ["Dave Rolsky <autarch@urth.org>"]
description = "The Universal Binary Installer"
repository = "https://github.com/houseabsolute/ubi"
readme = "README.md"
license = "MIT OR Apache-2.0"
edition = "2018"

[dependencies]
anyhow = "1.0.63"
bzip2 = "0.4.3"
clap = "3.2.20"
fern = { version = "0.6.1", features = ["colored"] }
flate2 = "1.0.24"
log = "0.4.17"
octocrab = { version = "0.17.0", default-features = false, features = ["rustls"] }
platforms = "2.0.0"
regex = "1.6.0"
reqwest = { version = "0.11.11", default-features = false, features = ["gzip", "rustls-tls"] }
tar = "0.4.38"
tempfile = "3.3.0"
tokio = { version = "1.21.0", default-features = false, features = ["macros", "rt"] }
url = "2.2.2"
xz = "0.1.0"
zip = "0.5"
zip-extensions = "0.6.1"

[workspace.metadata.release]
allow-branch = ["master"]
