[package]
name = "ubi"
version = "0.0.5"
authors = ["Dave Rolsky <autarch@urth.org>"]
description = "The Universal Binary Installer"
repository = "https://github.com/houseabsolute/ubi"
readme = "README.md"
license = "MIT OR Apache-2.0"
edition = "2018"

[dependencies]
anyhow = "~1"
bzip2 = "~0.4"
clap = "3.0.0-beta.2"
fern = { version = "~0.6", features = ["colored"] }
flate2 = "~1"
log = "~0.4"
octocrab = "~0.8, >= 0.8.7"
platforms = "~1"
regex = "~1"
reqwest = "~0.11"
tar = "~0.4"
tempfile = "~3"
tokio = { version = "~1", default-features = false, features = ["macros", "rt"] }
xz = "~0.1"
zip = "~0.5"
zip-extensions = "~0.6"
