[workspace.package]
authors = ["Dave Rolsky <autarch@urth.org>"]
edition = "2021"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/houseabsolute/ubi"
version = "0.2.4"

[workspace]
members = ["ubi", "ubi-cli"]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0.95"
async-trait = "0.1.83"
binstall-tar = "0.4.42"
bzip2 = "0.5.0"
clap = { version = "4.5.23", features = ["wrap_help"] }
document-features = "0.2"
fern = { version = "0.7.1", features = ["colored"] }
flate2 = "1.0.35"
itertools = "0.13.0"
lazy-regex = "3.3.0"
log = "0.4.22"
mockito = "1.6.1"
platforms = "3.5.0"
regex = "1.11.1"
reqwest = { version = "0.12.9", default-features = false, features = ["gzip", "json"] }
serde = { version = "1.0.216", features = ["derive"] }
serde_json = "1.0.134"
serial_test = "3.2.0"
strum = { version = "0.26.3", features = ["derive"] }
tempfile = "3.14.0"
test-case = "3.3.1"
test-log = "0.2.16"
thiserror = "2.0.9"
tokio = { version = "1.42.0", default-features = false, features = ["macros", "rt"] }
url = { version = "2.5.4", features = ["serde"] }
which = "7.0.1"
xz2 = "0.1.7"
# This disables all the features that require C compilation, which greatly
# simplifies cross-platform builds.
zip = { version = "2.2.2", default-features = false, features = [
    "aes-crypto",
    "bzip2",
    "deflate",
    "deflate64",
    "lzma",
    "zstd",
] }
